<style>
  .main{
    /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
    /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
    background-image: url('https://wallpaper.dog/large/5487013.jpg');
    /* background: rgb(38, 0, 0); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    height: 150px;
    color: white;
  }

  .main a{
    float: right;
    padding: 20px;
    text-decoration: none;
    color: white;
  }

  .main a:hover{
    color:  rgb(38, 0, 0);
    background-color: white;
  }
</style>


<div class="head">
  <div class="main">
    <a href="login" style="padding: 10px;">Signout</a>
    <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
    <div class="container">
      <br><h1 style="color: black;">Booking Details</h1>
      <div class="container mt-4" >

        <table class="table" style="width: 1000px; margin-left: 200px;">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Contact Number</th>
              <th scope="col">Moviename</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Persons</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bItem of bookingArray">
            <td>{{bItem.username  | uppercase}}</td>
            <td>{{bItem.phone}}</td>
            <td>{{bItem.moviename}}</td>
            <td>{{bItem.date}}</td>
            <td>{{bItem.time}}</td>
            <td>{{bItem.persons}}</td>
            <td>

              <button type="button" class="btn btn-success" (click)="setDel(bItem)">Delete</button>
            </td>
          </tr>
        </tbody>
        </table><br><br>


        </div>
    </div>
</div>

<br><br><br><hr>
