<style>
  .main{
    /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
    /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
    background-image: url('https://wallpaper.dog/large/5487013.jpg');
    /* background: rgb(38, 0, 0); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    height: 200px;
    color: white;
  }

  .main a{
    float: right;
    padding: 15px;
    text-decoration: none;
    color: white;
  }

  .main a:hover{
    color:  rgb(38, 0, 0);
    background-color: white;
  }

  .content{
    border: 1px solid black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
  }
</style>


<div class="head">
  <div class="main">
    <a href="login" style="padding: 10px;">Signout</a>
    <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
    <a href="contactus"><h4>CONTACT US</h4></a>
    <a href="offer"><h4>OFFER</h4></a>
    <a href="movie"><h4>MOVIE</h4></a>
    <a href="chatAppUser"><h4>CHAT-WITH-US</h4></a>
    <a href="home"><h4>HOME</h4></a>
  </div>
    <div class="container">
      <h2>Contact Details</h2>
      <div class="content">
        <h5>Email : cinemax@gmail.com</h5>
        <h6>Contact Number : +94 034-1234568</h6>
      </div>
      <div class="location">

      </div>
      <div>
        <app-feedback></app-feedback>
      </div>

    </div>

</div>
