<style>
  .a{
    background-image: url('https://i.pinimg.com/originals/03/ca/1b/03ca1bfae12314e7f66d66594bc7f140.jpg');
    height: 713px;
    background-repeat: no-repeat;
    background-size: cover;
  }
.body{
  padding-top: 10px;
  padding-bottom: 20px;
  width: 700px;
  margin-right: auto;
    margin-left: auto;

}

.form-group{
    padding: 5px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;


  }

  .f{
    padding: 10px;
  }

  button{
    width: 598px;
  }

  button:hover {
    background-color:  rgb(56, 0, 0) ;
    border-color:  rgb(56, 0, 0);
  }
</style>


<div class="a">
<marquee><h5>NOTICE: PLEASE INSERT VALID USER INFORMATION ONLY.</h5></marquee>
<div class="body">
  <div class="formb">
<div class="container mt-4" >
  <div class="container">
          <h1 style="text-align: center;">Create User Account</h1>
<form class="f">
  <div class="form-group">
    <h5> Full Name</h5>
    <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Smith John">
  </div>

  <div class="form-group">
    <h5>Address</h5>
    <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" class="form-control" id="address" placeholder="Main street, road, city">
  </div>

  <div class="form-group">
    <h5>Email</h5>
    <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="abcd@gmail.com">
  </div>

  <div class="form-group">
    <h5>Contact Number</h5>
      <input type="text" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" class="form-control" id="mobile" placeholder="07**-******">
    </div>

    <div class="form-group">
      <h5>Create new username</h5>
      <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="username" placeholder="Smith">
    </div>

    <div class="form-group">
      <h5>Create new passowrd</h5>
      <input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="123456">
    </div>
    <div class="form-group">
      <button type="submit" (click)="regfn()" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>
</div>
