  <style>
    .main{
      /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
      /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
      background-image: url('https://wallpaper.dog/large/5487013.jpg');
      /* background: rgb(38, 0, 0); */
      /* background-repeat: no-repeat;
      background-size: auto; */
      height: 150px;
      color: white;
    }

    .main a{
      float: right;
      padding: 20px;
      text-decoration: none;
      color: white;
    }

    .main a:hover{
      color:  rgb(38, 0, 0);
      background-color: white;
    }
  </style>


  <div class="head">
    <div class="main">
      <a href="login" style="padding: 10px;">Signout</a>
      <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
    </div>
      <div class="container">
        <div class="container mt-4" >
          <h1>User Registration Details</h1>
          <table class="table">
          <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let userItem of Array">
              <td>{{userItem.name  | uppercase}}</td>
              <td>{{userItem.address }}</td>
              <td>{{userItem.email }}</td>
              <td>{{userItem.mobile }}</td>
              <td>{{userItem.username }}</td>
              <td>
                <!-- <button type="button" class="btn btn-success" (click)="setUpdate(userItem)">Edit</button> -->
                <button type="button" class="btn btn-danger" (click)="setDelete(userItem)">Delete</button>
              </td>
            </tr>
          </tbody>
          </table><br><br>
          <!-- <button type="submit" (click)="goRegister2()" class="btn btn-primary">register 2</button> -->


          </div>
      </div>
  </div>
  <br><br><br><hr>
