
<style>
  .main{
    /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
    /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
    background-image: url('https://wallpaper.dog/large/5487013.jpg');
    /* background: rgb(38, 0, 0); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    height: 150px;
    color: white;
  }

  .main a{
    float: right;
    padding: 20px;
    text-decoration: none;
    color: white;
  }

  .main a:hover{
    color:  rgb(38, 0, 0);
    background-color: white;
  }



  .form-group{
    width: 600px;
    margin-left: 325px;
    padding: 10px;
  }

  button:hover{
    color: white;
    background-color: black;
  }
</style>


<div class="head">
  <div class="main">
    <a href="login" style="padding: 10px;">Signout</a>
    <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
  </div>
    <div class="container">
      <div class="container mt-4" >
        <div class="container">
                <h2 style="text-align: center;">Chat Section - Admin</h2>
                <app-chat-app></app-chat-app>
        </div><br><br><br>
      </div>
    </div>
  </div>
