<style>
  .main{
    /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
    /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
    background-image: url('https://wallpaper.dog/large/5487013.jpg');
    /* background: rgb(38, 0, 0); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    height: 200px;
    color: white;
  }

  .main a{
    float: right;
    padding: 15px;
    text-decoration: none;
    color: white;
  }

  .main a:hover{
    color:  rgb(38, 0, 0);
    background-color: white;
  }

  .lm img{
    width: 1000px;
    text-align: center;
    margin-left: 150px;
    padding: 15px;
  }

  .lm a{
    color: black;
    float: left;
    text-decoration: none;
    /* padding: 10px; */
    border: 1px solid rgb(38, 0, 0);
    text-align: center;
    margin-left: 550px;
  }

  .lm a:hover{
    color: white;
    background-color: rgb(38, 0, 0);
  }

</style>

<div class="head">
  <div class="main">
    <a href="login" style="padding: 10px;">Signout</a>
    <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
    <a href="contactus"><h4>CONTACT US</h4></a>
    <a href="offer"><h4>OFFER</h4></a>
    <a href="movie"><h4>MOVIE</h4></a>
    <a href="chatAppUser"><h4>CHAT-WITH-US</h4></a>
    <a href="home"><h4>HOME</h4></a>
  </div>
    <div class="container">
      <h2>Today Offers</h2>
    </div>
    <div class="container mt-4" >
      <table class="table" style="width: 800px; margin-left: auto;margin-right: auto;">
      <thead>
      <tr>
          <th scope="col"></th>
          <th scope="col">Offer Description</th>
          <th scope="col">New Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
           <tr *ngFor="let OfferItem of offer_Array">
          <td><img src="https://media.istockphoto.com/id/1172999527/vector/red-limited-offer-with-clock-for-promotion-banner-price-label-countdown-of-time-for-offer.jpg?s=612x612&w=0&k=20&c=3YQIjnq1KUffBnRE-hi79TMds_-IRpYK6T2poxTWc-0=" style="width: 300px; height: 180px;"></td>
          <td>{{OfferItem.description }}</td>
          <td>{{OfferItem.price}}</td>
          <td></td>
        </tr>
      </tbody>
      </table><br>


      </div>

</div>
<br><br><hr>
