<style>
  .body{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAP0AAADHCAMAAADlCqUFAAAAQlBMVEUeAAAwAABAAABSAQBjAQB0AACFAAGWAAGmAAAyAACtAAAAAACcAAFGAAFnAAGKAAFrAABbAAA2AQATAABNAQAaAACOAlDYAAABCUlEQVR4nO3PWwqCQAAAwE1Nd11bn93/qgX+CIEY9NfMDSbEGPs8dG/Do7S7MUz3o3kpzYeybvWZLVeXpGe6fS3l8BP29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29vb29n+2fwGTjD6Uxkl9TQAAAABJRU5ErkJggg==');
    height: 713px;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="body">
  <br><br><br><br><br><br><br><br><br><br><br><br><a href="login" style="text-decoration: none;">
    <h1 style="padding: 30px; color: rgb(58, 1, 1); background-color: white; width: 400px; margin-left: auto;margin-right: auto; text-align: center; ">
      CLICK HERE TO<BR>
      GET STARTED</h1>
  </a>
</div>
