<style>
  .main{
    /* background-image: url('https://images3.alphacoders.com/115/1153176.png'); */
    /* background-image: url('https://t4.ftcdn.net/jpg/03/55/83/33/360_F_355833357_NayQN0HNYUkLSp93ALuts9BFjHZ1KT2X.jpg'); */
    background-image: url('https://wallpaper.dog/large/5487013.jpg');
    /* background: rgb(38, 0, 0); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    height: 125px;
    color: white;
  }

  .main a{
    float: right;
    padding: 20px;
    text-decoration: none;
    color:white;
  }

  a{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color:rgb(38, 0, 0);
  }

  a:hover{
    color:blue;
  }
</style>


<div class="head">
  <div class="main">
    <a href="login" style="padding: 10px;">Signout</a>
    <p style="font-family: Ink Free; font-size: 80px; text-align: center;">cine<b>MAX</b></p>
  </div>
    <div class="container" id="b" style="margin-top: 80px;">
      <a href="chatAppAdmin"><h4>Chat with Users</h4></a>
      <a href="addmovie"><h4>Movie Edition</h4></a>
      <a href="showRegister"><h4>View User Registration</h4></a>
      <a href="showFeedback"><h4>View User feedback</h4></a>
      <a href="addoffer"><h4>Offer Edition</h4></a>
      <a href="showbooking"><h4>View Booking Details</h4></a>
    </div>
</div>

